.homepage-wrapper {

    .carousel-root {

        max-width: 50vw;;
        
        
    }
    .carousel .slider-wrapper{
        width: 100%;
        height: 50%;
        border-radius: 5px;
    }

    .carousel .carousel-slider {
        width: 80%;
    }

    .control-arrow {
        color: white;
    }

    .carousel {
        max-width: 25vw;
    }
}

.carousel .control-dots {

}

.carousel.carousel-slider .control-arrow {

}

